@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/NeueMachina-Regular.otf) format('woff2');
  }
}